Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 2fr;
    border: thick $background 70%;
    background: $primary;
    outline: double yellow;
}

Input {
    margin: 1;
}

Label {
    margin: 1;
}

Button {
    width: 100%;
    margin: 1;
    background: green;
}
